@use '@styles/globals' as *;
.design{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6vw $component-lr-padding;
}
.design_button{
  max-width: 610px;
  h1{
    @include ubuntu-bold;
    color: #1C1C1E;
    font-size: 48px;
    margin-bottom: 36px;
  }
}
.design_images{
  display: grid;
  grid-template:
    "i i"
    "i i";
    gap: 10px;
  figure{
    margin: 0;
  }
}
@media (max-width: 1250px) {
  .design, .design_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .design_images{
    margin-top: 20px;
    figure img{
      width: 40vw;
    }
  }
}