@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@mixin ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin form-btn {
  margin-top: 24px;
  display: flex;
  justify-content: end;
}
.field_error-message {
  color: #FF5631;
  @include ubuntu-medium;
  font-size: 16px;
  margin-top: 2px;
}
$button-text-color: #FFFFFF;
$component-lr-padding: 4vw;
