@use '@styles/globals' as *;
$tab-color: #7B7454;
.tablist{
  display: flex;
  flex-direction: column;
  margin: 40px $component-lr-padding;
  &-tabs{
  width: fit-content;
  min-width: 100%;
  border-bottom: 2px solid #D9D9D9;
  }
}
.tablist_btn{
  @include ubuntu-medium;
  font-size: 16px;
  margin-bottom: -2px;
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid #D9D9D9;
  border-width: 0 0 2px;
  cursor: pointer;
  color: $tab-color;
  &-active {
  border-color: $tab-color;
  }
}