
@use '@styles/globals' as *;
.mainBtn{
  background-color: #003CFF;
  border: none;
  border-radius: 16px;
  padding: 16px;
  @include ubuntu-bold;
  font-size: 16px;
  color: $button-text-color;
  &:hover{
    background-color: #7796C0;
  }
}
.compBtn {
  background-color: #003CFF;
  border: none;
  border-radius: 8px;
  padding: 16px;
  @include ubuntu-bold;
  font-size: 16px;
  color: $button-text-color;
  &:hover {
    background-color: #7796C0;
  }
}