.cardDivider{
  height: 2px;
  background-color: #D9D9D9;
  width: 85%;
}
.tabDivider{
  height: 1px;
  background-color: #7F92AC;
  width: 100%;
}
.footerDivider{
  height: 2px;
  background-color: #FFFFFFCF;
  width: 100%;
  margin: 24px 0 12px 0;
}
.formDivider-solid{
  border-top: 1px solid #80808033;
  width: 100%;
  margin: 10px 0;

}
.formDivider-dashed{
  border-left: 1px dashed #80808066;
  height: 100%;
  margin: 0 40px;
}