@import '@styles/globals.scss';
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 0;
  width: 80vw;
}
.header_link{
  text-decoration: none;
  color: #B4387A;
  @include ubuntu-bold;
  font-size: 24px;
}
.header_nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  a{
    text-decoration: none;
    color: #1D1929;
    @include ubuntu-bold;
    font-size: 16px;
    margin: 0 20px;
  }
  a.active{
    color: #B2A35F;
  }
}