@import '@styles/globals.scss';
.map{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  @include ubuntu-medium;
  color: #1C1C1C;
  h3{
    font-size: 30px;
    margin-bottom: 20px;
  }
  figure{
    margin: 0;
    font-size: 16px;
    img{
      width: 100%;
      margin: 48px 0;
    }
  }

}